@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400;500;600;800&family=Jost:wght@300;400;500;600&family=Poppins:wght@300;400;500;600&family=Urbanist:wght@300;400;500;600&display=swap');
/* * smax rule */
/*? base rule */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Urbanist", sans-serif;
}

html{
    font-size: 62.5%;
    /* 1rem=10px */
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Poppins', sans-serif;
}

p,li,a{
    font-family:"Urbanist", sans-serif;
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
    font-weight: 400;
}

a{
    text-decoration: none;
}
li{
    list-style: none;
}

/*? theam */

/*? layout  */
.container{
    max-width: 142rem;
    margin: 0 auto;
    padding: 9.6rem 2.4rem;
}

/*? states */


/***** navbar Section *****/

.section-navbar{
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 2px 0px,rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.section-navbar .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.8rem 0;
}

.navbar ul{
display: flex;
gap:3.2rem;
text-transform: uppercase;
}

/***** End navbar Section *****/