/* CSS Selectors  */

/* 1. Element Selector
2. Class Selector
3. Id Selector
4. Universel Selector
5. Childern Selecter
6. Decendent Selector
7. Pseudo-Class Selector */



/* Color in css  */

/* 1. color name
2. RGB
3.HEX
4.HSL
5.RGBA
6.HSLA */



/* Background Property in css  */

/* 1. bckground-color
        background-color: red;
2. background-image
        background-image:url("path");
3.background-repeat
        background-repeat:no-repeat;
4.background-position
        background-position:center;
5.background-size
        background-position:100% 100%;

6. background-attachment */